<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    % include('easyui_header.html')
</head>
<body class="easyui-layout">
<div id="p" data-options="region:'west'" title="菜单" style="width:200px;padding:10px">
    <ul class="easyui-tree">
        <li>
            <span>接口调用说明</span>

        </li>
        <li>
            <span>应用接入</span>
        </li>
         <li>
            <span>客户端升级</span>
        </li>

    </ul>
</div>
<div data-options="region:'center'" title="接口调用说明" >


</div>
</body>
</html>